html {
  font-size: 10px;
}

.filterSecao {
  display: flex;
  justify-content: space-around;
  background-color: rgb(173, 173, 173);
  height: 100px;
}

.textFilter {
  font-weight: 800;
  font-size: 3rem;
  margin: auto auto;
}

.secaoOpcoes {
  height: 50px;
  margin: auto auto;
  border: none;
  border-radius: 1rem;
}
